footer{
  padding: 1rem;
  background-color: rgb(35, 35, 97);
  color: white;
  flood-color: white;
}

footer section {
  width: 85%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.left-footer ul{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-footer ul li{
  list-style: none;
}

.left-footer ul li img{
  filter: brightness(0) invert(1);
}

.right-footer{
  display: flex;
  align-items: center;
  gap: 1rem;
}