.section-4 {
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.section-h2,
.section-4 p {
  text-align: center;
}

.section-4 p{
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 75%;
  color: gray;
  margin: auto;
}

.section-4 {
  width: 65%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  margin-top: 2rem;
}


.faq {
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 0.01rem groove gray;
  margin: 0rem 2rem 1.5rem 2rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3;
}

.question:hover {
  color:#5368df;
}

.answer {
  font-size: 1.2rem;      
  line-height: 1.5rem;
  max-height: 0;
  overflow: hidden;
  color: rgb(151, 151, 151);
}

.faq.active .answer {
  max-height: 250px;
}

.faq.active img{
  transform: rotate(180deg);
}

img{
  transition: transform .3s ease-in;
}

.faq-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-button1{
  border: none;
  background-color: #5368df;
  color: white;
  padding: 1rem;
  font-size: 1.3vw;
  text-align: center;
  border-radius: 0.3rem;
}