.section-2{
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.FEATURE{
  text-align: center;
  font-size: 1.8vw;
  margin-bottom: 1.2rem;
}

.FEATURE-title{
  text-align: center;
  margin-top: 2rem;
  width: 50%;
  font-size: 1.3vw;
  color: gray;
  margin: auto;
  margin-bottom: 2rem;
}

.button-tab{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  width: 100%;
}

.button-tab div{
  background-color: white;
  padding: 1.2rem;
  width: 20%;
  font-weight: 600;
  font-size: 1.1vw;
  text-align: center;
}

.tab-2{
  border-bottom: 0.1px solid black;
  
}
.tab-3{
  border-bottom: 0.1px solid black;
  
}

.tab-1{
  border-bottom: 0.1px solid black;
}

/* tab content style */

.tabContent, #simple-bookmarkin,#speedy-searching,#easy-sharing{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-tabContent{
  width: 100%;
}

.right-tabContent h3{
  font-size: 2.4vw;
  margin-bottom: 1.3vw;
}

.right-tabContent p {
  margin-bottom: 2.2rem;
  width: 70%;
  font-size: 1.2vw;
  color: gray;
}

.right-tabContent button{
  padding: 1rem;
  font-size: 1.1vw;
  border: none;
  background-color: #5368df;
  color: white;
  border-radius: 0.5rem;
}

.hero-image-tabContent img{
  width: 90%;
  height: 450px;
  
}

.left-tabContent{
  width: 100%;
}

/* shadow dari belakang gambar */
.box-shadow-tabContent{
  position: absolute;
  width: 110%;
  height: 80%;
  background-color: #5368df;
  bottom: -4rem;
  left: -30%;
  border-radius: 0 35% 35% 0;
  z-index: -1;
}

.hero-image-tabContent{
  position: relative;
}

#speedy-searching{
  display: none;
}
#easy-sharing{
  display: none;
}

.tabLinks:hover {
  cursor: pointer;
}

.tabLinks.active {
  border-bottom: 0.5rem solid red;
}